<div class="container col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" block-ui="usersBlock" style="min-height: 125px;">
  <div class="row" ng-hide="uDetCtrl.user == null">
    <div class="jumbotron text-center">
      <h1>{{ uDetCtrl.user.name }}</h1>
    </div>

    <div class="panel panel-default">
      <h4 class="text-center">Info</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{uDetCtrl.user.email}}</span>
          Email
        </li>
        <li class="list-group-item">
          <span class="badge">{{uDetCtrl.user.age}} years</span>
          Age
        </li>
        <li class="list-group-item" ng-show="uDetCtrl.user.isPlayer">
          <span class="badge"><a class="badge-link" href="/#/team/{{uDetCtrl.team.id}}">{{uDetCtrl.team.name}}</a></span>
          Player
        </li>
        <li class="list-group-item" ng-show="uDetCtrl.user.isManager">
          <span class="badge"><a class="badge-link" href="/#/team/{{uDetCtrl.managedTeam.id}}">{{uDetCtrl.managedTeam.name}}</a></span>
          Manager
        </li>
        <li class="list-group-item" ng-show="uDetCtrl.user.isSupervisor">
          <span class="badge"><a class="badge-link" href="/#/event/{{uDetCtrl.event.id}}">{{uDetCtrl.event.name}}</a></span>
          Supervisor
        </li>
      </ul>
    </div>

    <div class="panel panel-default" ng-show="uDetCtrl.service.authService.logged && uDetCtrl.user.id == apiService.authService.currentUser.id">
      <h4 class="text-center">Get Docs</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-show="uDetCtrl.user.id == apiService.authService.currentUser.id">
          <span class="badge"><a ng-click="apiService.documentService.generatePass(apiService.authService.currentUser, uDetCtrl.managedTeam, apiService.authService.docFormat)" class="badge-link">Get</a> </span>
          Manager Pass
        </li>
        <li class="list-group-item" ng-show="apiService.authService.currentUser.isSupervisor">
          <span class="badge"><a ng-click="apiService.documentService.generatePass(apiService.authService.currentUser, uDetCtrl.event, apiService.authService.docFormat)" class="badge-link">Get</a></span>
          Supervisor Pass
        </li>
        <li class="list-group-item" ng-show="apiService.authService.currentUser.isAdmin">
          <span class="badge"><a ng-click="apiService.documentService.generateReport('user',apiService.authService.docFormat)" class="badge-link">Get</a></span>
          Users Report
        </li>
        <li class="list-group-item" ng-show="apiService.authService.currentUser.isAdmin">
          <span class="badge"><a ng-click="apiService.documentService.generateReport('event',apiService.authService.docFormat)" class="badge-link">Get</a></span>
          Event List
        </li>
      </ul>
    </div>
  </div>
</div>
