<div class="container">
  <uib-tabset type="tabs">
    <uib-tab index="0" heading="Users">
      <div class="row">
        <div class="col-xs-12">
          <form ng-submit="ctrl.add('user', user)">
            <div class="container-fluid">
              <div class="form-group col-xs-6 col-md-3 col-md-offset-2">
                <input type="text" ng-model="user.name" class="form-control" placeholder=Name>
                <input type="text" ng-model="user.age" class="form-control" placeholder=Age>
                <input type="text" ng-model="user.permissions" class="form-control" placeholder=Permissions>
              </div>
              <div class="form-group col-xs-6 col-md-3">
                <input type="text" ng-model="user.login" class="form-control" placeholder=Login>
                <input type="email" ng-model="user.email" class="form-control" placeholder=Email>
                <input type="password" ng-model="user.password" class="form-control" placeholder=Password>
              </div>
              <div class="form-group col-xs-6 col-md-2">
                <button type="button" class="btn btn-default" ng-click="ctrl.search(user)">Find</button>
                <button type="submit" class="btn btn-default">Add</button>
              </div>

              <div class="col-xs-12 col-md-4">
                <div class="form-group col-xs-2" ng-repeat="role in ctrl.roles">
                  <label for="{{role.index}}">{{role.name}}</label>
                  <input type="checkbox" id="{{role.index}}">
                </div>
              </div>
            </div>
          </form>
          <br/>
        </div>
        <table class="table table-striped">
          <tr>
            <td>Name</td>
            <td>Login</td>
            <td>E-mail</td>
            <td>Age</td>
            <td>Team</td>
            <td>Roles</td>
            <td>Actions</td>
          </tr>
          <tr ng-repeat="user in ctrl.userslist">
            <td><input type="text" ng-model="user.name" class="form-control" value="{{ user.name }}"></td>
            <td><input type="text" ng-model="user.login" class="form-control" value="{{ user.login }}"></td>
            <td><input type="text" ng-model="user.email" class="form-control" value="{{ user.email }}"></td>
            <td><input type="text" ng-model="user.age" class="form-control" value="{{ user.age }}" style="width: 50px;"></td>
            <td>
              <select class="form-control" ng-model="user.teamId">
                <option value="{{team.id}}" ng-repeat="team in ctrl.teamsList">{{team.name}}</option>
              </select>
            </td>
            <td>
              <input type="checkbox" ng-model="user.permissions[0]" ng-checked="user.permissions[0] == 49">
              <input type="checkbox" ng-model="user.permissions[1]" ng-checked="user.permissions[1] == 49">
              <input type="checkbox" ng-model="user.permissions[2]" ng-checked="user.permissions[2] == 49">
              <input type="checkbox" ng-model="user.permissions[3]" ng-checked="user.permissions[3] == 49">
              <input type="checkbox" ng-model="user.permissions[4]" ng-checked="user.permissions[4] == 49">
            </td>
            <td>
              <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.edit()"><span class="glyphicon glyphicon-pencil"/></button>
              <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.remove('user', user.userId)"><span class="glyphicon glyphicon-trash"/></button>
            </td>
          </tr>
        </table>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="Teams">
      <table class="table table-striped">
        <tr>
          <td>Manager</td>
          <td>Name</td>
          <td>Events</td>
          <td>Actions</td>
        </tr>
        <tr ng-repeat="team in ctrl.teamsList">
          <td><input type="text" ng-model="team.userId" class="form-control" value="{{ team.userId }}"></td>
          <td><input type="text" ng-model="team.name" class="form-control" value="{{ team.name }}"></td>
          <td>
            <p ng-repeat="team in ctrl.participations[team.id]">{{ team.name }}</p>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.edit()"><span class="glyphicon glyphicon-pencil"/></button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.remove('team', team.id)"><span class="glyphicon glyphicon-trash"/></button>
          </td>
        </tr>
      </table>
    </uib-tab>
    <uib-tab index="2" heading="Events">
      <table class="table table-striped">
        <tr>
          <td>Name</td>
          <td>Date</td>
          <td>Teams</td>
          <td>Actions</td>
        </tr>
        <tr ng-repeat="event in ctrl.eventsList">
          <td><input type="text" ng-model="event.name" class="form-control" value="{{ event.name }}"></td>
          <td><input type="text" ng-model="event.date" class="form-control" value="{{ event.date }}"></td>
          <td>
            <div ng-repeat="team in ctrl.teamsList">
              <label for="team_{{team.id}}">{{ team.name }}</label>
              <input type="checkbox" id="team_{{team.id}}" ng-checked="ctrl.participants[event.id].hasOwnProperty(id) == team.id">
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.edit()"><span class="glyphicon glyphicon-pencil"/></button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.remove('event', event.id)"><span class="glyphicon glyphicon-trash"/></button>
          </td>
        </tr>
      </table>
    </uib-tab>
  </uib-tabset>
</div>
