<div class="container col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" block-ui="teamsBlock">
  <div class="jumbotron text-center">
    <h1>{{ ctrl.title }}</h1>
    <small>{{ ctrl.subtitle }}</small>
  </div>

  <div class="row" ng-hide="ctrl.service.teamsList == null">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="team in ctrl.service.teamsList">
            <span class="badge"><a class="badge-link" href="/#/team/{{team.id}}">Details</a></span>
            {{ team.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
