<div class="container col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" block-ui="teamsBlock" style="min-height: 125px;">
  <div class="row" ng-hide="tDetCtrl.team == null">
    <div class="jumbotron text-center">
      <h1>{{ tDetCtrl.team.name }}</h1>
      <small><a href="/#/user/{{tDetCtrl.manager.id}}">{{ tDetCtrl.manager.name }}</a></small>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default" ng-show="tDetCtrl.players[0] == null">
        <h4 class="text-center">No Players</h4>
        <ul class="list-group">
          <li class="list-group-item text-center">
            <p>This team has no players</p>
          </li>
        </ul>
      </div>
      <div class="panel panel-default" ng-hide="tDetCtrl.players[0] == null">
        <h4 class="text-center">Players</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="player in tDetCtrl.players">
            <span class="badge"><a href="/#/user/{{player.id}}" class="badge-link" >Profile</a></span>
            {{ player.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default" ng-hide="tDetCtrl.participations == null">
        <h4 class="text-center">Participations</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="event in tDetCtrl.participations">
            <span class="badge" ng-show="tDetCtrl.isManager"><a href="" class="badge-link" >Get Manager Pass</a></span>
            <span class="badge" ng-show="tDetCtrl.isPlayer"><a href="" class="badge-link" >Get Player Pass</a></span>
            <a href="/#/event/{{event.id}}">{{ event.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
