<div class="content-wrapper">
  <div class="container">
    <div class="row text-center">
		<div class="container">
		  <uib-tabset type="tabs">
		    <uib-tab index="0" heading="Users">
		      <div class="row">
		        <div class="col-xs-6 col-xs-offset-3">
              <formly-form model="ctrl.userModel" fields="ctrl.userFields" style="padding-bottom: 15px;">
                <div class="form-group">
                  <select class="form-control" ng-model="ctrl.userModel.user.teamId" ng-options="team.id as team.name for team in ctrl.service.teamsList"/>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" ng-click="ctrl.service.createUser(ctrl.userModel)">Create</button>
                </div>
              </formly-form>
            </div>
		        <table class="table table-striped" block-ui="usersBlock" style="min-height: 125px;">
		          <tr>
		            <td>Name</td>
		            <td>E-mail</td>
		            <td>Age</td>
		            <td>Team</td>
		            <td>Roles</td>
		            <td>Actions</td>
		          </tr>
		          <tr ng-repeat="user in ctrl.service.userslist">
		            <td><input type="text" ng-model="user.name" class="form-control" value="{{ user.name }}"></td>
		            <td><input type="text" ng-model="user.email" class="form-control" value="{{ user.email }}"></td>
		            <td><input type="text" ng-model="user.age" class="form-control" value="{{ user.age }}" style="width: 50px;"></td>
		            <td>
                  <select class="form-control" ng-model="user.teamId" ng-options="team.id as team.name for team in ctrl.service.teamsList"/>
		            </td>
		            <td>
		              <input type="checkbox" ng-model="user.isViewer" ng-checked="user.isViewer == true" uib-tooltip="Viewer">
		              <input type="checkbox" ng-model="user.isPlayer" ng-checked="user.isPlayer == true" uib-tooltip="Player">
		              <input type="checkbox" ng-model="user.isManager" ng-checked="user.isManager == true" uib-tooltip="Manager">
		              <input type="checkbox" ng-model="user.isSupervisor" ng-checked="user.isSupervisor == true" uib-tooltip="Supervisor">
		              <input type="checkbox" ng-model="user.isAdmin" ng-checked="user.isAdmin == true" uib-tooltip="Admin">
		            </td>
		            <td>
                  <ul class="list-inline">
                    <li>
                      <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.service.updateUser(user)"><span class="glyphicon glyphicon-pencil"/></button>
                    </li>
                    <li>
                      <div ng-controller="ModalDeleteController as delCtrl">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="delCtrl.open(user)"><span class="glyphicon glyphicon-trash"/></button>
                      </div>
                    </li>
                  </ul>
		            </td>
		          </tr>
		        </table>
		      </div>
		    </uib-tab>
		    <uib-tab index="1" heading="Teams">
          <div class="col-xs-6 col-xs-offset-3">
            <formly-form model="ctrl.teamModel" fields="ctrl.teamFields" style="padding-bottom: 15px;">
              <div class="form-group">
                <select class="form-control" ng-model="ctrl.teamModel.team.userId" ng-options="user.id as user.name for user in ctrl.service.userslist"/>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" ng-click="ctrl.service.createTeam(ctrl.teamModel)">Create</button>
              </div>
            </formly-form>
          </div>
		      <table class="table table-striped" block-ui="teamsBlock">
		        <tr>
		          <td>Manager</td>
		          <td>Name</td>
		          <td>Actions</td>
		        </tr>
		        <tr ng-repeat="team in ctrl.service.teamsList">
		          <td>
                <select class="form-control" ng-model="team.userId" ng-options="user.id as user.name for user in ctrl.service.userslist"/>
              </td>
		          <td><input type="text" ng-model="team.name" class="form-control" value="{{ team.name }}"></td>
		          <td>
		            <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.service.updateTeam(team)"><span class="glyphicon glyphicon-pencil"/></button>
		            <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.service.deleteTeam(team.id)"><span class="glyphicon glyphicon-trash"/></button>
		          </td>
		        </tr>
		      </table>
		    </uib-tab>
		    <uib-tab index="2" heading="Events">
          <div class="col-xs-6 col-xs-offset-3">
            <formly-form model="ctrl.eventModel" fields="ctrl.teamFields" style="padding-bottom: 15px;">
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" ng-click="ctrl.service.createEvent(ctrl.eventModel)">Create</button>
              </div>
            </formly-form>
          </div>
		      <table class="table table-striped">
		        <tr>
		          <td>Name</td>
		          <td>Date</td>
		          <td>Actions</td>
		        </tr>
		        <tr ng-repeat="event in ctrl.service.eventsList">
		          <td><input type="text" ng-model="event.name" class="form-control" value="{{ event.name }}"></td>
		          <td><input type="text" ng-model="event.date" class="form-control" value="{{ event.date }}"></td>
		          <!--<td>
		            <div ng-repeat="team in ctrl.service.teamsList">
		              <label for="team_{{team.id}}">{{ team.name }}</label>
		              <input type="checkbox" id="team_{{team.id}}" ng-checked="ctrl.service.participants[event.id].hasOwnProperty(id) == team.id">
		            </div>
		          </td>-->
		          <td>
		            <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.edit()"><span class="glyphicon glyphicon-pencil"/></button>
		            <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.remove('event', event.id)"><span class="glyphicon glyphicon-trash"/></button>
		          </td>
		        </tr>
		      </table>
		    </uib-tab>
		  </uib-tabset>
		</div>
    </div>
  </div>
</div>
