<div class="container col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" block-ui="eventsBlock" style="min-height: 125px;">
  <div class="row" ng-hide="eDetCtrl.event == null">
    <div class="jumbotron text-center">
      <h1>{{ eDetCtrl.event.name }}</h1>
      <small><a href="/#/user/{{eDetCtrl.supervisor.id}}" ng-hide="eDetCtrl.isSupervisor">{{ eDetCtrl.supervisor.name }}</a></small>
      <a href="" class="btn btn-primary" ng-show="eDetCtrl.isSupervisor">Get Supervisor Pass</a>
      <a href="" class="btn btn-primary" ng-show="eDetCtrl.isPlayer">Get Player Pass <small>({{eDetCtrl.team.name}})</small></a>
    </div>

    <div class="panel panel-default" ng-show="eDetCtrl.participants[0] == undefined">
      <h4 class="text-center">No Participants</h4>
      <ul class="list-group">
        <li class="list-group-item text-center">
          <p>This event has no participants.</p>
        </li>
      </ul>
    </div>

    <div class="panel panel-default" ng-hide="eDetCtrl.participants[0] == undefined">
      <h4 class="text-center">Participants</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="team in eDetCtrl.participants">
          <span class="badge"><a href="/#/team/{{team.id}}" class="badge-link" >Details</a></span>
          {{ team.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
