<div class="container col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" block-ui="eventsBlock" style="min-height: 125px;">
  <div class="row" ng-hide="eDetCtrl.event == null">
    <div class="jumbotron text-center">
      <h1>{{ eDetCtrl.event.name }}</h1>
      <small><a href="/#/user/{{eDetCtrl.supervisor.id}}" ng-hide="eDetCtrl.isSupervisor">{{ eDetCtrl.supervisor.name }}</a></small>
      <a href="" class="btn btn-primary" ng-show="eDetCtrl.isSupervisor">Get Supervisor Pass</a>
    </div>

    <div class="panel panel-default" ng-hide="eDetCtrl.participants == null">
      <h4 class="text-center">Participants</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="team in eDetCtrl.participants">
          <span class="badge" ng-show="tDetCtrl.isPlayer"><a href="" class="badge-link" >Get Player Pass</a></span>
          <a href="/#/team/{{team.id}}">{{ team.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
