<div class="container col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" block-ui="eventsBlock" style="min-height: 125px;">
  <div class="row" ng-hide="eDetCtrl.event == null">
    <div class="jumbotron text-center">
      <h1>{{ eDetCtrl.event.name }}</h1>
      <small><a href="/#/user/{{eDetCtrl.supervisor.id}}" ng-hide="eDetCtrl.isSupervisor">{{ eDetCtrl.supervisor.name }}</a></small>
      <div class="form-group" ng-show="eDetCtrl.isSupervisor">
        <a ng-click="apiService.documentService.generatePass(apiService.authService.currentUser, eDetCtrl.event, apiService.documentService.docFormat)"
           class="btn btn-primary">
          Get Supervisor Pass
        </a>
      </div>
      <div class="form-group" ng-show="eDetCtrl.isPlayer">
        <form ng-submit="apiService.documentService.generatePass(apiService.authService.currentUser, eDetCtrl.event, apiService.documentService.docFormat)">
          <button type="submit" class="btn btn-primary">Get Player Pass<small>({{eDetCtrl.team.name}})</small></button>
        </form>
      </div>
      <div class="form-group" ng-show="eDetCtrl.isViewer && apiService.authService.tickets[0] != null">
        <form ng-submit="apiService.documentService.generateTicket(eDetCtrl.event, eDetCtrl.team, apiService.authService.currentUser, eDetCtrl.ticket, apiService.documentService.docFormat)">
          <select class="form-control"
                  ng-model="eDetCtrl.ticket"
                  ng-options="ticket.id as ticket.eventId for ticket in eDetCtrl.tickets"/>
          <button type="submit" class="btn btn-primary">Get Ticket</button>
        </form>
      </div>
    </div>

    <div class="panel panel-default" ng-show="eDetCtrl.participants[0] == undefined">
      <h4 class="text-center">No Participants</h4>
      <ul class="list-group">
        <li class="list-group-item text-center">
          <p>This event has no participants.</p>
        </li>
      </ul>
    </div>

    <div class="panel panel-default" ng-hide="eDetCtrl.participants[0] == undefined">
      <h4 class="text-center">Participants</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="team in eDetCtrl.participants">
          <span class="badge"><a href="/#/team/{{team.id}}" class="badge-link" >Details</a></span>
          {{ team.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
